.players{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 400px;
  margin: 3vh auto;
  height: 30vh;
  max-height: 200px;
  min-height: 100px;
}

.controls{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
  margin: 0 auto;
  max-width: 400px;
  height: 50vh;
}

.controls div{
  grid-column: 1/6;
}