.players{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 400px;
  margin: 3vh auto;
}

.controls{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vh;
  margin: 0 auto;
  max-width: 400px;
}

.controls div{
  grid-column: 1/6;
}