.container{
  display: flex;
  justify-content: space-around;
  max-width: 400px;
}


.radio{
 display: none; 
}

.radio:checked::after{
  color: rgb(122, 234, 253);
}



.label{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 111, 202);
  height: 7vh;
  width: 7vh;
  color: white;
}
.active{
  background-color: rgb(26, 53, 94);
}