.main {
  border: none;
  color: white;
  font-size: 2rem;
  overflow: hidden;
  background-color: #0000ff;
  grid-column: 1/ 4;
  cursor: pointer;
}

.main:hover {
  background-color: #2020ff
}

.active{
 background-color: aqua; 
}