:root {
  --main-color: rgb(56, 135, 255);
}

.App {
  text-align: center;
  height: 100vh;
}

/* #scrim {
  height: 30vh;
  width: 30vw;
  position: absolute;
  background-color: rgb(0,0,0,0.5);
  top: 50vh;
  left: 50vw;
  
 
} */

.header{
  background-color: rgb(51, 111, 202);
  color: white;
  padding: 2vh;
  max-height: 10vh;
}

.header h1{
  margin: 0;
}




